@import "tailwindcss";

body {
  min-width: 320px;
  min-height: 100vh;
  direction: rtl;
  font-size: 1.3rem;
  background-color: #6a9c89;
}
ul,
li {
  font-weight: 500;
  text-decoration: inherit;
  font-size: 1.3rem;
  border-radius: 8px;
  padding: 4px;
  width: 90%;
  cursor: pointer;
}
li {
  list-style-type: none;
  padding-right: 10px;
}

button {
  cursor: pointer;
  outline: none;
}
